<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />

        <title>Hello, world!</title>
        <style>
            body,
            html {
                height: 100%;
            }
            .fullheight {
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container fullheight">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <h1>Find playlist duration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="/api" id="my-form" method="POST">
                        <div class="form-group">
                            <label for="youtube_url"></label>
                            <input
                                type="url"
                                class="form-control"
                                name="youtube_url"
                                id="youtube_url"
                                placeholder="playlist url"
                            />
                        </div>
                        <div class="row justify-content-center">
                            <div
                                class="col-4 form-group"
                                style="text-align: center;"
                            >
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    id="my-button"
                                >
                                    find duration
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="text-align: center;" id="result">
                    <h5 style="text-align: center;">0hr : 0mins : 0sec</h5>
                </div>
            </div>
            <div
                class="row alert alert-danger"
                role="alert"
                id="my-error"
                hidden
            ></div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script>
            document.getElementById("my-error").setAttribute("hidden", true);
            let form = document.getElementById("my-form");
            form.addEventListener("submit", async (e) => {
                e.preventDefault();
                document
                    .getElementById("my-error")
                    .setAttribute("hidden", true);
                youtube_url = e.target.youtube_url.value;
                document.getElementById(
                    "my-button"
                ).innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Loading...`;
                let total_duration = 0.0;
                try {
                    res = await axios({
                        method: "post",
                        url: "/api",
                        data: {
                            youtube_url: youtube_url,
                        },
                    });
                    let totalSeconds = res.data.total_duration;

                    let hours = Math.floor(totalSeconds / 3600);
                    totalSeconds %= 3600;
                    let minutes = Math.floor(totalSeconds / 60);
                    let seconds = totalSeconds % 60;
                    document.getElementById(
                        "result"
                    ).innerHTML = `<h5> ${hours} hrs : ${minutes} mins : ${seconds} secs </h5>`;

                    // console.log(hours, minutes, seconds);
                } catch (error) {
                    console.log(error.response.data.error);
                    if (
                        error.response.data.error === "Not Found" ||
                        error.response.data.error === "playlistNotFound"
                    ) {
                        document.getElementById("my-error").innerHTML =
                            "Playlist doesnt exists";
                        document
                            .getElementById("my-error")
                            .removeAttribute("hidden");
                    }
                }
                document.getElementById("my-button").innerHTML =
                    "find duration";
            });
        </script>
    </body>
</html>
